@import url('//fonts.googleapis.com/css?family=Poppins:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=devanagari&amp;display=swap');
@import url('//fonts.googleapis.com/css?family=Poppins:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=devanagari&amp;display=swap');
a.btn,
button.btn,
input[type="submit"].btn {
  color: #ffffff;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  background-color: #ec430f;
  border: none;
  text-transform: uppercase;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
a.btn:hover,
button.btn:hover,
input[type="submit"].btn:hover {
  background-color: #252525;
}
header .box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .box-header .logo {
  height: 40px ;
  flex: none;
}
header .box-header .box-navigation {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 1200px) {
  body {
    max-width: 500px;
  }
}
img {
  max-width: 100%;
}
#page-title {
  position: relative;
}
#page-title #slideshow {
  display: block;
  margin: 0 auto;
}
#page-title .bullets {
  position: absolute;
  z-index: 2;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  border-radius: 50%;
  border: 2px;
}
#page-title .bullets a {
  text-decoration: none;
}
#page-title .bullets > a:hover {
  background: rgba(255, 255, 255, 0.7) !important;
}
#page-title .layer-content-inner {
  font-size: 50;
  font-weight: 200;
  position: absolute;
  top: 30%;
  left: 200px;
  text-align: left;
  display: inline;
  display: flex;
  padding: 0px 0px 0px 0px;
  justify-content: center;
  color: #fff;
}
#page-content .row-container h6 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
